.margin-tp{
	margin-top: 50px;
}
.loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: url('/images/giphy.gif') 
              50% 50% no-repeat rgb(249,249,249);
}